.carouselContainer {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  height: 80px;
  max-height: 80px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.carouselTrack {
  display: flex;
  width: max-content;
  animation: scroll-left linear infinite;
}

.carouselItem {
  flex-shrink: 0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.logoWrapper {
  display: flex;
  position: relative;
  width: 130px;
  height: 100px;
  box-sizing: border-box;
}

.carouselLogo {
  object-fit: contain !important;
  filter: saturate(0%) brightness(1000%);
  opacity: 0.9;
  transition: all 0.3s ease;
}

.carouselLogo:hover {
  filter: saturate(100%) brightness(100%);
  opacity: 1;
  background-color: #ffffff80;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}
